a {
  color:#000000 !important;
  text-decoration: none !important;
}

label{
	padding-top: 10px;
}

.jumbotron{
	background-color: #337ab7 !important;
	color: #FFF !important;
}

.jumbotron h2{
	color: #FFF;
}
